  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  


  .login-header {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
      font-weight: 600;
    color: #373B43;
  }